// h4{
//     margin-left: 5em;
// }
#deleteBtn{
    float: right;
}
#viewBtn{
    float: left;
    width: 200px;
}
.body-content{
    font-size:25px;
    padding-left:30px;
}

.spinner-border{
    display: flexbox;
    align-self: center;
    justify-self: center; 
}